:root {
    --nav-blue: #298fd4;
}

.grid-container {
    display: grid;
    grid-template-columns: 125px auto;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainContentContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.headerSecondRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerFirstRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerFirstRowRight {
    text-align: right;
}

.btns {
    text-align: right;
}

nav {
    background-color: var(--nav-blue);
    color: white;
    vertical-align: middle;
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Make things responsive*/
@media screen and (max-width: 600px) {
    .mainContentContainer {
        display: block;
    }
}
