:root {
    --gradient-colour: #0891b2;
}

.title-pic h1 {
    color: lightgrey;
    display: block;
    z-index: 1000;
    display: inline;
}

.title-text {
    text-align: center;
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-pic img {
    position: relative;
}

.title-pic {
    position: relative;
    padding: 1rem;
}

.about-me {
    flex: 60%;
    padding: 1rem;
    color: black;
}

.about-me-inner {
    background-color: white;
    color: black;
    padding: 1rem;
}

.about-me-links {
    text-align: right;
}

.top-section {
    display: flex;
}

.top-clip {
    background-color: var(--gradient-colour);
    clip-path: polygon(0% 100%, 100% 62%, 100% 0%, 0% 0%);
    width: 100%;
    height: 45%;
    display: block;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .top-section {
        display: block;
    }

    .about-me-links {
        text-align: center;
    }

    .top-clip {
        height: 25%;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    /* .top-section {
        display: block;
    } */
    .title-pic img {
        transform: translate(10%, 10%);
        /* display: inline-block; */
    }

    .about-me {
        transform: translate(-10%, 50%);
        z-index: 1;
    }

    .about-me h2 {
        display: inline-block;
    }

    /* .top-section {
        display: inline;
        width: 400px;
    }

    .title-pic-container,
    .title-pic img,
    .about-me,
    .about-me-inner,
    .about-me p,
    .about-me div {
        display: inline-block;
    }

    .about-me h2 {
        display: inline;
    } */
}
